In [32]:
import numpy as np #https://numpy.org/
import pandas as pd #https://pandas.pydata.org/
import matplotlib.pyplot as plt #https://matplotlib.org/stable/api/_as_gen/matplotlib.pyplot.html
import seaborn as sns
import random

In [33]:
class CFG():
    input_path="./"#"../input/tabular-playground-series-apr-2021/"
    debug=False
    fold_num=5
    seed=2

In [34]:
target_columns=['Survived']
def feature_columns(df):
    for col in df.columns:
        if col in target_columns:df=df.drop(columns=col)
    return  df.columns
def numerical_columns(df):
    return df[feature_columns(df)].select_dtypes(include=['int64','float64']).columns
def categorical_columns(df):
    return df[feature_columns(df)].select_dtypes(exclude=['int64','float64']).columns

In [35]:
class Color:
    BLACK     = '\033[30m'
    RED       = '\033[31m'
    GREEN     = '\033[32m'
    YELLOW    = '\033[33m'
    BLUE      = '\033[34m'
    PURPLE    = '\033[35m'
    CYAN      = '\033[36m'
    WHITE     = '\033[37m'

    _BLACK     = '\033[40m'
    _RED       = '\033[41m'
    _GREEN     = '\033[42m'
    _YELLOW    = '\033[43m'
    _BLUE      = '\033[44m'
    _PURPLE    = '\033[45m'
    _CYAN      = '\033[46m'
    _WHITE     = '\033[47m'

    END       = '\033[0m'
    BOLD      = '\033[1m'
    UNDERLINE = '\033[4m'
    INVISIBLE = '\033[08m'
    REVERSE   = '\033[07m'

In [36]:
def what_is(obj):
    print("type:",type(obj))
    print("-"*40+"help"+"-"*40)
    print(help(obj))
    print("-"*40+"dir"+"-"*40)
    print(dir(obj))

import pandas_profiling
def simple_eda(df):
    """
    simple_eda
    """
    print("-"*40+"EDA"+"-"*40)
    print("type:",type(df))
    print("-"*40+"head"+"-"*40)
    display(df.head())
    print("-"*40+"describe"+"-"*40)
    display(df.describe())
    print("-"*40+"info"+"-"*40)
    print(df.info())

    #display(df.profile_report())

In [37]:
train=pd.read_csv(CFG.input_path+"train.csv",index_col='PassengerId')
test=pd.read_csv(CFG.input_path+"test.csv",index_col='PassengerId')
sample_submission=pd.read_csv(CFG.input_path+"sample_submission.csv",index_col='PassengerId')

if CFG.debug:
    train=train[:len(train)//200]
    test=test[:len(test)//200]

all_data = pd.concat([train,test])

In [38]:
simple_eda(train)

----------------------------------------EDA----------------------------------------
type: <class 'pandas.core.frame.DataFrame'>
----------------------------------------head----------------------------------------

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
0,1,1,"Oconnor, Frankie",male,NaN,2,0,209245,27.14,C12239,S
1,0,3,"Bryan, Drew",male,NaN,0,0,27323,13.35,NaN,S
2,0,3,"Owens, Kenneth",male,0.33,1,2,CA 457703,71.29,NaN,S
3,0,3,"Kramer, James",male,19.00,0,0,A. 10866,13.04,NaN,S
4,1,3,"Bond, Michael",male,25.00,0,0,427635,7.76,NaN,S

----------------------------------------describe----------------------------------------

,Survived,Pclass,Age,SibSp,Parch,Fare
count,100000.000000,100000.000000,96708.000000,100000.000000,100000.000000,99866.00000
mean,0.427740,2.106910,38.355472,0.397690,0.454560,43.92933
std,0.494753,0.837727,18.313556,0.862566,0.950076,69.58882
min,0.000000,1.000000,0.080000,0.000000,0.000000,0.68000
25%,0.000000,1.000000,25.000000,0.000000,0.000000,10.04000
50%,0.000000,2.000000,39.000000,0.000000,0.000000,24.46000
75%,1.000000,3.000000,53.000000,1.000000,1.000000,33.50000
max,1.000000,3.000000,87.000000,8.000000,9.000000,744.66000

----------------------------------------info----------------------------------------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 99999
Data columns (total 11 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Survived  100000 non-null  int64
 1   Pclass    100000 non-null  int64
 2   Name      100000 non-null  object
 3   Sex       100000 non-null  object
 4   Age       96708 non-null   float64
 5   SibSp     100000 non-null  int64
 6   Parch     100000 non-null  int64
 7   Ticket    95377 non-null   object
 8   Fare      99866 non-null   float64
 9   Cabin     32134 non-null   object
 10  Embarked  99750 non-null   object
dtypes: float64(2), int64(4), object(5)
memory usage: 9.2+ MB
None

In [39]:
#display(train.profile_report())

In [40]:
all_data

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
0,1.0,1,"Oconnor, Frankie",male,NaN,2,0,209245,27.14,C12239,S
1,0.0,3,"Bryan, Drew",male,NaN,0,0,27323,13.35,NaN,S
2,0.0,3,"Owens, Kenneth",male,0.33,1,2,CA 457703,71.29,NaN,S
3,0.0,3,"Kramer, James",male,19.00,0,0,A. 10866,13.04,NaN,S
4,1.0,3,"Bond, Michael",male,25.00,0,0,427635,7.76,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
199995,NaN,3,"Cash, Cheryle",female,27.00,0,0,7686,10.12,NaN,Q
199996,NaN,1,"Brown, Howard",male,59.00,1,0,13004,68.31,NaN,S
199997,NaN,3,"Lightfoot, Cameron",male,47.00,0,0,4383317,10.87,NaN,S
199998,NaN,1,"Jacobsen, Margaret",female,49.00,1,2,PC 26988,29.68,B20828,C
199999,NaN,1,"Fishback, Joanna",female,41.00,0,2,PC 41824,195.41,E13345,C

In [48]:
df=all_data.drop(columns=['Name','Ticket','Cabin'])

In [49]:
#df[feature_columns(df)]=df[feature_columns(df)].fillna(df[feature_columns(df)].median())
df['Age'].fillna(df['Age'].median(),inplace=True)
df['Fare'].fillna(df['Fare'].median(),inplace=True)
df=pd.get_dummies(df)
#ll_data=pd.get_dummies(all_data)

In [50]:
df

,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
PassengerId,,,,,,,,,,,
0,1.0,1,31.00,2,0,27.14,0,1,0,0,1
1,0.0,3,31.00,0,0,13.35,0,1,0,0,1
2,0.0,3,0.33,1,2,71.29,0,1,0,0,1
3,0.0,3,19.00,0,0,13.04,0,1,0,0,1
4,1.0,3,25.00,0,0,7.76,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
199995,NaN,3,27.00,0,0,10.12,1,0,0,1,0
199996,NaN,1,59.00,1,0,68.31,0,1,0,0,1
199997,NaN,3,47.00,0,0,10.87,0,1,0,0,1
199998,NaN,1,49.00,1,2,29.68,1,0,1,0,0
199999,NaN,1,41.00,0,2,195.41,1,0,1,0,0

In [13]:
train=df[:len(train)]
test=df[len(train):]

In [14]:
def get_score(y_pred,y):return (y_pred==y).values.sum()/len(y)

In [15]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

#from tqdm.notebook import tqdm #peogress bar

def cross_validation(X,y,model,test_X=None,NUM_FOLDS=CFG.fold_num,model_name='model'):

    kf = KFold(n_splits=NUM_FOLDS, shuffle=False)#,random_state=CFG.seed)
    
    scores=[]#scoreの配列

    test_preds = [0]*len(test_X)#各foldのmodelでのtest_Xに対する予測結果の平均

    #stack_training = pd.DataFrame(index=X.index,columns=[model_name])
        
    for fold_cnt, (tr_idx, val_idx) in enumerate(kf.split(X,y)):
            
        #tqdm(enumerate(kf.split(x, y))):
            
        print(f"FOLD:{fold_cnt}")
        #print(tr_idx,val_idx)

        tr_x, tr_y = X.iloc[tr_idx] , y.iloc[tr_idx]
        va_x, va_y = X.iloc[val_idx], y.iloc[val_idx]

        tr_y=np.ravel(tr_y)#reshape 1d

        #if nn:model=model_func()

        model.fit(tr_x, tr_y)

        #temp_oof = model.predict(va_x)
        pre=model.predict(va_x)

        pre=pd.DataFrame(pre,index=va_y.index,columns=['Survived'])
        pre=pre>0.5
        pre.astype(int)

        #stack用
        #stack_training['y'].loc[val_idx]=va_y['target']
        #stack_training[model_name].iloc[val_idx]=pre[0].ravel()

        score=get_score(pre, va_y)
        print(Color.GREEN,score,Color.END,sep='')
        scores.append(score)

        test_preds += model.predict(test_X).ravel()/NUM_FOLDS

    
    print(Color.RED,"ave:",np.average(scores),Color.END,sep='')

    # a=cross_val_score(model,X,y,scoring='roc_auc',cv=5)
    # print(a)
    #return np.average(scores)
    #plt.show()
    return test_preds,np.average(scores)#,stack_training

In [16]:
from sklearn.linear_model import LogisticRegression

In [17]:
from sklearn.linear_model import Ridge
ridge_params = {
    # 'alpha': 100,
    # 'max_iter':200,
}

In [18]:
from sklearn.linear_model import LassoCV
lasso_params = {
    # 'alphas':[0.001],
    # 'eps':0.001
}

In [19]:
from sklearn.ensemble import RandomForestRegressor
random_forest_params = {
    # 'n_estimators': 200,
    # #'criterion':'mae',
    # 'max_depth':13,
    #'min_samples_split':5,
}
#0.8726983472089088

In [20]:
from xgboost import XGBRegressor

xgb_params = {
    # 'booster':'gbtree',
    # 'n_estimators':800,
    # 'max_depth':5,
    # 'eta':0.01,


    # 'num_boost_round':1000,
    # 'early_stopping_rounds':50,
    #'min_child_weight':1,
    # 'alpha':0,
    # 'lambda':1,
    # 'subsample':0.9,

    # 'eval_metric':'auc',
    # 'seed': CFG.seed,
    # 'tree_method':'gpu_hist',
    # 'gpu_id':0

    #------------------------

    # "objective": "binary:logistic",
    # "grow_policy":"lossguide",
    # "min_child_weight":20,
    # 'colsample_bytree':0.3,
    # 'subsample':0.7,
    # 'n_estimators':5000,
    # 'learning_rate':0.1
}

In [21]:
from lightgbm import LGBMRegressor

lgbm_params = {
    # 'n_estimators':400,
    # 'max_depth':2, 
    # 'learning_rate':0.1,
    # 'num_leaves':5,
    # 'verbosity':0,
    # 'subsample':0.75,
    # 'colsample_bytree':0.35,
    # 'reg_lambda':0.23,
    # 'reg_alpha':0.52,
    # 'scale_pos_weight':1,
    # 'eval_metric':'auc',
    # 'seed': 42,
    # 'tree_method':'gpu_hist',
    # 'gpu_id':0
}
#0.881411919700458

In [22]:
from catboost import CatBoostRegressor

catboost_params = {
    # 'iterations':2000,
    # 'learning_rate':0.02,
    # 'l2_leaf_reg':3.0,
    # 'loss_function':'RMSE',
    'verbose':0,
}

In [23]:
from sklearn.svm import SVC
from sklearn.svm import LinearSVC

In [24]:
from sklearn.neural_network import MLPRegressor

In [25]:
models=[
    LogisticRegression(),
    Ridge(**ridge_params),
    LassoCV(**lasso_params),
    RandomForestRegressor(**random_forest_params),
    XGBRegressor(**xgb_params),
    LGBMRegressor(**lgbm_params),
    CatBoostRegressor(**catboost_params),
    #SVC(),
    LinearSVC(),
    MLPRegressor(),
]
model_names=[
    'LogisticRegression',
    'Ridge',
    'LassoCV',
    'RandomForestRegressor',
    'XGBRegressor',
    'LGBMRegressor',
    'CatBoostRegressor',
    #'SVC',
    'LinearSVC',
    'MLPRegressor',
]
predictions=pd.DataFrame(index=test.index)
ave_scores=pd.DataFrame(index=model_names,columns=['score'])

for idx,model in enumerate(models):
    print(model_names[idx])

    predictions[model_names[idx]],ave_scores.loc[model_names[idx]]=cross_validation(train[feature_columns(train)],train[target_columns],model,test_X=test[feature_columns(test)],model_name=model_names[idx])

LogisticRegression
FOLD:0
/Users/toutatsu/.anyenv/envs/pyenv/versions/3.8.8/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
0.76485
FOLD:1
/Users/toutatsu/.anyenv/envs/pyenv/versions/3.8.8/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
0.768
FOLD:2
/Users/toutatsu/.anyenv/envs/pyenv/versions/3.8.8/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
0.768
FOLD:3
/Users/toutatsu/.anyenv/envs/pyenv/versions/3.8.8/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
0.76495
FOLD:4
0.7669
ave:0.7665400000000001
Ridge
FOLD:0
0.76455
FOLD:1
0.7694
FOLD:2
0.76695
FOLD:3
0.7642
FOLD:4
0.7666
ave:0.76634
LassoCV
FOLD:0
0.75985
FOLD:1
0.7664
FOLD:2
0.76225
FOLD:3
0.75985
FOLD:4
0.76165
ave:0.762
RandomForestRegressor
FOLD:0
0.73265
FOLD:1
0.73185
FOLD:2
0.72875
FOLD:3
0.72415
FOLD:4
0.7282
ave:0.72912
XGBRegressor
FOLD:0
0.76715
FOLD:1
0.77075
FOLD:2
0.77105
FOLD:3
0.7674
FOLD:4
0.7688
ave:0.7690300000000001
LGBMRegressor
FOLD:0
0.77065
FOLD:1
0.7721
FOLD:2
0.7723
FOLD:3
0.77085
FOLD:4
0.7713
ave:0.7714399999999999
CatBoostRegressor
FOLD:0
0.7706
FOLD:1
0.77225
FOLD:2
0.7723
FOLD:3
0.7698
FOLD:4
0.7717
ave:0.7713300000000001
LinearSVC
FOLD:0
/Users/toutatsu/.anyenv/envs/pyenv/versions/3.8.8/lib/python3.8/site-packages/sklearn/svm/_base.py:985: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "
0.6282
FOLD:1
/Users/toutatsu/.anyenv/envs/pyenv/versions/3.8.8/lib/python3.8/site-packages/sklearn/svm/_base.py:985: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "
0.6565
FOLD:2
/Users/toutatsu/.anyenv/envs/pyenv/versions/3.8.8/lib/python3.8/site-packages/sklearn/svm/_base.py:985: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "
0.72555
FOLD:3
/Users/toutatsu/.anyenv/envs/pyenv/versions/3.8.8/lib/python3.8/site-packages/sklearn/svm/_base.py:985: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "
0.57735
FOLD:4
/Users/toutatsu/.anyenv/envs/pyenv/versions/3.8.8/lib/python3.8/site-packages/sklearn/svm/_base.py:985: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "
0.63375
ave:0.64427
MLPRegressor
FOLD:0
0.7236
FOLD:1
0.76735
FOLD:2
0.7665
FOLD:3
0.7644
FOLD:4
0.7654
ave:0.75745

In [26]:
predictions['ave']=predictions.mean(axis=1)
predictions

,LogisticRegression,Ridge,LassoCV,RandomForestRegressor,XGBRegressor,LGBMRegressor,CatBoostRegressor,LinearSVC,MLPRegressor,ave
PassengerId,,,,,,,,,,
100000,0.0,0.131324,0.143871,0.0980,0.073420,0.085921,0.091738,0.2,0.152608,0.108542
100001,1.0,0.542767,0.538717,0.3660,0.568140,0.508120,0.530147,0.6,0.494387,0.572031
100002,1.0,0.925243,0.871608,0.9520,1.024265,0.944579,0.962630,0.8,0.913861,0.932687
100003,0.0,0.202464,0.205463,0.3051,0.324666,0.199823,0.209890,0.0,0.156066,0.178163
100004,1.0,0.902849,0.862386,0.3820,0.646306,0.693036,0.681852,1.0,0.830311,0.777638
...,...,...,...,...,...,...,...,...,...,...
199995,1.0,0.584573,0.575232,0.2880,0.583340,0.577654,0.590258,0.6,0.573105,0.596907
199996,0.0,0.287944,0.303461,0.2060,0.177140,0.191864,0.154001,0.2,0.167463,0.187542
199997,0.0,0.123021,0.138237,0.0520,0.077462,0.071876,0.073248,0.0,0.009763,0.060623
199998,1.0,0.895085,0.869935,0.7720,0.672139,0.666026,0.635863,0.6,0.805151,0.768467
199999,1.0,0.942570,0.920369,0.6600,0.753167,0.794495,0.788967,0.4,0.812519,0.785787

In [27]:
predictions.ave=(predictions.ave>0.5)*1

In [28]:
ave_scores

                         score
LogisticRegression     0.76654
Ridge                  0.76634
LassoCV                  0.762
RandomForestRegressor  0.72912
XGBRegressor           0.76903
LGBMRegressor          0.77144
CatBoostRegressor      0.77133
LinearSVC              0.64427
MLPRegressor           0.75745

In [30]:
submission=pd.DataFrame(columns=['PassengerId','Survived'],dtype='int64')
submission.PassengerId=test.index
submission=submission.set_index('PassengerId')
#submission.Survived=[ int(x=='female') for x in test.Sex ]
submission['Survived']=predictions.ave

submission.to_csv("submission.csv")

submission

             Survived
PassengerId
100000              0
100001              1
100002              1
100003              0
100004              1
...               ...
199995              1
199996              0
199997              0
199998              1
199999              1

[100000 rows x 1 columns]